
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 14.6rem;
}.group-1-uZv {
  border-radius: 5rem;
  font-size: 3rem;
  line-height: 1.25;
  justify-content: center;
  display: flex;
  align-items: center;
  white-space: nowrap;
  border: solid 0.2rem #ff5858;
  box-sizing: border-box;
  width: 100%;
  font-weight: 400;
  color: #ffffff;
  font-family: Jua, 'Source Sans Pro';
  background-color: #ff9d9d;
  height: 5.3rem;
  text-align: center;
}
