
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 49.7rem;
}.unread-message-MaL {
  position: relative;
  width: 100%;
  height: 9.6rem;

  .rectangle-6-uLx {
    height: 8.8rem;
    top: 0.8rem;
    border-radius: 2.5rem;
    background-color: #ffffff;
    width: 48.7rem;
    position: absolute;
    left: 1rem;
    border: solid 0.5rem #ff9d9d;
    box-sizing: border-box;
  }
  .pm-R4Q {
    height: 1.8rem;
    position: absolute;
    font-size: 1.8rem;
    color: #000000;
    font-family: Hubballi, 'Source Sans Pro';
    line-height: 0.955;
    white-space: nowrap;
    width: 5.9rem;
    left: 42.2rem;
    top: 1.8rem;
    text-align: center;
    font-weight: 400;
  }
  .re-uncertain-matters-7C8 {
    line-height: 1.2225;
    color: #000000;
    height: 2.3rem;
    left: 2.9rem;
    top: 4rem;
    font-size: 1.8rem;
    white-space: nowrap;
    width: 18.4rem;
    position: absolute;
    font-weight: 700;
    font-family: Commissioner, 'Source Sans Pro';
  }
  .hi-jane-thank-you-for-being-so-open-to-sharing-your-story-ive-been-thr-cPn {
    position: absolute;
    left: 2.9rem;
    color: rgba(0, 0, 0, 0.5);
    width: 46.1rem;
    height: 1.8rem;
    top: 6.7rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.2225;
    font-family: Commissioner, 'Source Sans Pro';
    white-space: nowrap;
  }
  .from-amazing-alligator-fcx {
    color: #000000;
    height: 2.3rem;
    position: absolute;
    left: 2.9rem;
    font-size: 1.8rem;
    font-family: Commissioner, 'Source Sans Pro';
    white-space: nowrap;
    width: 21.2rem;
    top: 1.8rem;
    font-weight: 700;
    line-height: 1.2225;
  }
  .free-heart-icon-431-thumb-1-NXN {
    left: 0;
    top: 0;
    object-fit: cover;
    vertical-align: top;
    width: 3.8rem;
    height: 3.6rem;
    position: absolute;
  }
}
