<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Component 1</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hubballi%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Commissioner%3A400"/>
  <link rel="stylesheet" href="./styles/component-1.css"/>
</head>
<body>
<div class="component-1-PRn">
  <div class="auto-group-swt8-wiC">
    <p class="pm-gfn">8:15 PM</p>
    <p class="re-advice-needed-discrimination-in-potions-position-bnk">RE: Advice Needed - Discrimination in Potions Position</p>
    <p class="from-generous-giraffe-uYY">FROM: Generous Giraffe</p>
    <img class="free-heart-icon-431-thumb-1-RFz" src="./assets/free-heart-icon-431-thumb-1-wRe.png"/>
  </div>
  <p class="hi-there-i-can-definitely-provide-some-insights-as-ive-experienced-the--MfS">Hi there, I can definitely provide some insights, as I’ve experienced the ... </p>
</div>
</body>