<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Group 2</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jua%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/group-2.css"/>
</head>
<body>
<div class="group-2-9ji">
  <div class="category-uit">
    <p class="discrimination-at-workplace-qsS">Discrimination At Workplace</p>
  </div>
</div>
</body>