<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>unread message</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Commissioner%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hubballi%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/unread-message-gMz.css"/>
</head>
<body>
<div class="unread-message-yvU">
  <div class="rectangle-6-YCt">
  </div>
  <div class="component-1-rDa">
    <div class="auto-group-h6mi-zqa">
      <p class="pm-LuS">8:15 PM</p>
      <p class="re-advice-needed-discrimination-in-potions-position-SxU">RE: Advice Needed - Discrimination in Potions Position</p>
      <p class="from-generous-giraffe-96C">FROM: Generous Giraffe</p>
      <img class="free-heart-icon-431-thumb-1-3Ba" src="./assets/free-heart-icon-431-thumb-1-uwz.png"/>
    </div>
    <p class="hi-there-i-can-definitely-provide-some-insights-as-ive-experienced-the--Z9v">Hi there, I can definitely provide some insights, as I’ve experienced the ... </p>
  </div>
</div>
</body>