<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>unread message</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hubballi%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Commissioner%3A700"/>
  <link rel="stylesheet" href="./styles/unread-message.css"/>
</head>
<body>
<div class="unread-message-MaL">
  <div class="rectangle-6-uLx">
  </div>
  <p class="pm-R4Q">8:15 PM</p>
  <p class="re-uncertain-matters-7C8">RE: Uncertain Matters</p>
  <p class="hi-jane-thank-you-for-being-so-open-to-sharing-your-story-ive-been-thr-cPn">Hi Jane, thank you for being so open to sharing your story. I’ve  been thr...</p>
  <p class="from-amazing-alligator-fcx">FROM: Amazing Alligator</p>
  <img class="free-heart-icon-431-thumb-1-NXN" src="./assets/free-heart-icon-431-thumb-1-XAU.png"/>
</div>
</body>