
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.nav-bar-Vy6 {
  padding-left: 1.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #fff3e8;
  box-sizing: border-box;

  .frame-4-eLC {
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    margin-right: 85.75rem;

    .nook-logo-1-bmE {
      margin: 0rem 0.45rem 0.6rem 0rem;
      width: 8.8rem;
      height: 9.7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .nook-umv {
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 10rem;
      font-weight: 400;
      line-height: 1.5;
      color: #ff9d9d;
      font-family: Just Me Again Down Here, 'Source Sans Pro';
    }
  }
  .auto-group-2jwn-25r {
    display: flex;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 18.3rem;
    height: 83.2rem;
    background-color: #98e635;
    padding: 4.4rem 2.6rem 33.7rem 2.7rem;
    align-items: center;
    flex-direction: column;

    .group-1-hBz {
      margin: 0rem 9.8rem 3.3rem 0rem;
      width: 3.2rem;
      height: 2.7rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .my-inbox-of-whispers-BN4 {
      line-height: 1.25;
      color: #ffffff;
      font-family: Jua, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 0.7rem 1.2rem 0rem;
      max-width: 12.3rem;
      font-size: 2.4rem;
      font-weight: 400;
    }
    .send-a-whisper-39N {
      margin: 0rem 4.7rem 1.2rem 0rem;
      max-width: 8.3rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.25;
      color: #ffffff;
      font-family: Jua, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .auto-group-q38g-uhN {
      width: 100%;
      height: 24.7rem;
      position: relative;
      flex-shrink: 0;

      .support-a-whisper-my-profile-log-out-Eje {
        line-height: 1.25;
        height: 24rem;
        position: absolute;
        top: 0;
        font-weight: 400;
        color: #ffffff;
        font-family: Jua, 'Source Sans Pro';
        width: 10.6rem;
        left: 0;
        font-size: 2.4rem;
      }
      .b6fad8179462d6ae2bd5605ed5d5090-removebg-preview-1-9Lp {
        vertical-align: top;
        width: 4.7rem;
        height: 4.8rem;
        position: absolute;
        left: 8.3rem;
        top: 19.9rem;
        object-fit: cover;
      }
    }
  }
}
