
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.whisper-inbox-wcQ {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff3e8;
  box-sizing: border-box;
  padding: 0rem 3.2rem 1.4rem 1.7rem;
  width: 100%;
  overflow: hidden;

  .auto-group-xws2-FNC {
    margin-bottom: 1.3rem;
    width: 100%;
    height: 18.3rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .frame-4-BFr {
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      margin: 0rem 4.25rem 3.3rem 0rem;

      .nook-logo-1-EtL {
        width: 8.8rem;
        height: 9.7rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.45rem 0.6rem 0rem;
      }
      .nook-xJY {
        font-size: 10rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ff9d9d;
        font-family: Just Me Again Down Here, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
      }
    }
    .auto-group-vde4-5tx {
      margin: 10.3rem 2.2rem 0rem 0rem;
      width: 69.9rem;
      height: 8rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-10-cP6 {
        top: 1.5rem;
        background-color: #ace1ff;
        border-radius: 2.5rem;
        width: 68.2rem;
        height: 6.5rem;
        position: absolute;
        left: 1.7rem;
      }
      .whisper-inbox-XW4 {
        height: 4.5rem;
        position: absolute;
        top: 2.5rem;
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.25;
        white-space: nowrap;
        width: 21.4rem;
        left: 25rem;
        text-align: center;
        color: #000000;
        font-family: Jua, 'Source Sans Pro';
      }
      .star-1-RbS {
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 7.4071rem;
        height: 7.4071rem;
        position: absolute;
      }
      .item-386220-1-NFn {
        left: 61.4rem;
        top: 1.6rem;
        object-fit: cover;
        vertical-align: top;
        width: 6.4rem;
        height: 6.4rem;
        position: absolute;
      }
    }
    .auto-group-d9y6-h3A {
      margin: 6.1rem 1.8rem 5rem 0rem;
      width: 16.4rem;
      height: calc(100% - 11.1rem);
      position: relative;
      flex-shrink: 0;

      .ellipse-1-QyA {
        border: solid 0.5rem #ace1ff;
        box-sizing: border-box;
        border-radius: 3.6rem;
        width: 7.2rem;
        height: 7.2rem;
        position: absolute;
        left: 9.2rem;
        top: 0;
      }
      .group-13-wCQ {
        top: 0.2rem;
        cursor: pointer;
        position: absolute;
        width: 16.2rem;
        height: 6.7rem;
        left: 0;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding-left: 1.1rem;

        .my-profile-yun {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Jua, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.1rem 1.4rem 0rem 0rem;
          text-align: center;
          max-width: 7rem;
        }
        .screenshot2024-03-09at733-1-5xp {
          width: 6.7rem;
          height: 6.7rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-5vgg-QEQ {
      background-color: #98e635;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 6.6rem 0rem 5.4rem 0rem;
      box-sizing: border-box;
      padding: 1.7rem 1.3rem 1.6rem 1.4rem;
      height: calc(100% - 12rem);

      .frame-5-uS4 {
        vertical-align: top;
        width: 3.6rem;
        height: 3rem;
        object-fit: contain;
      }
    }
  }
  .unread-message-SB6 {
    width: 49.7rem;
    height: 9.6rem;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 0rem 0.8rem 4.4rem;

    .rectangle-6-MYx {
      border-radius: 2.5rem;
      top: 0.8rem;
      border: solid 0.5rem #ff9d9d;
      box-sizing: border-box;
      left: 1rem;
      background-color: #ffffff;
      width: 48.7rem;
      height: 8.8rem;
      position: absolute;
    }
    .pm-fZe {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 0.955;
      color: #000000;
      width: 5.9rem;
      height: 1.8rem;
      left: 42.2rem;
      text-align: center;
      font-family: Hubballi, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      top: 1.8rem;
    }
    .re-uncertain-matters-NDA {
      font-weight: 700;
      color: #000000;
      height: 2.3rem;
      position: absolute;
      left: 2.9rem;
      top: 4rem;
      white-space: nowrap;
      width: 18.4rem;
      font-size: 1.8rem;
      line-height: 1.2225;
      font-family: Commissioner, 'Source Sans Pro';
    }
    .hi-jane-thank-you-for-being-so-open-to-sharing-your-story-ive-been-thr-s9v {
      width: 45.6rem;
      height: 1.8rem;
      left: 2.9rem;
      top: 6.7rem;
      color: rgba(0, 0, 0, 0.5);
      font-family: Commissioner, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.2225;
    }
    .from-amazing-alligator-jC8 {
      white-space: nowrap;
      position: absolute;
      left: 2.9rem;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.2225;
      color: #000000;
      font-family: Commissioner, 'Source Sans Pro';
      width: 21.2rem;
      height: 2.3rem;
      top: 1.8rem;
    }
    .free-heart-icon-431-thumb-1-qW4 {
      width: 3.8rem;
      height: 3.6rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .component-2-NVz {
    margin: 0rem 0rem 0.8rem 4.4rem;
    width: 49.7rem;
    height: 9.6rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-6-tz8 {
      height: 8.8rem;
      position: absolute;
      top: 0.8rem;
      border-radius: 2.5rem;
      width: 48.7rem;
      left: 1rem;
      border: solid 0.5rem #ff9d9d;
      box-sizing: border-box;
      background-color: #ffffff;
    }
    .pm-btY {
      position: absolute;
      text-align: center;
      font-weight: 400;
      line-height: 0.955;
      color: #000000;
      font-family: Hubballi, 'Source Sans Pro';
      width: 6.5rem;
      left: 41.9rem;
      top: 1.8rem;
      font-size: 1.8rem;
      white-space: nowrap;
      height: 1.8rem;
    }
    .re-uncertain-matters-7M6 {
      position: absolute;
      left: 2.9rem;
      top: 4rem;
      font-size: 1.8rem;
      color: #000000;
      font-family: Commissioner, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.3rem;
      font-weight: 700;
      line-height: 1.2225;
      width: 18.4rem;
    }
    .hi-jane-thank-you-for-being-so-open-to-sharing-your-story-ive-been-thr-DQ8 {
      width: 45.8rem;
      height: 1.8rem;
      top: 6.7rem;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.5);
      white-space: nowrap;
      position: absolute;
      left: 2.9rem;
      font-size: 1.4rem;
      line-height: 1.2225;
      font-family: Commissioner, 'Source Sans Pro';
    }
    .from-amazing-alligator-6Tv {
      top: 1.8rem;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.2225;
      font-family: Commissioner, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.3rem;
      position: absolute;
      left: 2.9rem;
      color: #000000;
      width: 18.5rem;
    }
    .free-heart-icon-431-thumb-1-ot8 {
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 3.8rem;
      height: 3.6rem;
      position: absolute;
    }
  }
  .unread-message-jFz {
    margin: 0rem 0rem 0.8rem 4.4rem;
    width: 49.7rem;
    height: 9.6rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-6-f9e {
      height: 8.8rem;
      left: 1rem;
      border: solid 0.5rem #ff9d9d;
      box-sizing: border-box;
      width: 48.7rem;
      position: absolute;
      top: 0.8rem;
      background-color: #ffffff;
      border-radius: 2.5rem;
    }
    .component-1-Npk {
      display: flex;
      flex-direction: column;
      width: 48rem;
      height: 8.5rem;
      position: absolute;
      left: 0;
      top: 0;
      align-items: flex-end;

      .auto-group-wcvy-83E {
        width: 47.7rem;
        height: 6.3rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 0.3rem 0.4rem 0rem;

        .pm-rE8 {
          width: 5.1rem;
          height: 1.8rem;
          line-height: 0.955;
          font-family: Hubballi, 'Source Sans Pro';
          position: absolute;
          left: 42.6rem;
          top: 1.8rem;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
        }
        .re-advice-needed-discrimination-in-potions-position-ZPS {
          width: 44.2rem;
          height: 2.3rem;
          left: 2.9rem;
          color: #000000;
          white-space: nowrap;
          position: absolute;
          top: 4rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.2225;
          font-family: Commissioner, 'Source Sans Pro';
        }
        .from-generous-giraffe-rdS {
          font-family: Commissioner, 'Source Sans Pro';
          white-space: nowrap;
          width: 20.1rem;
          height: 2.3rem;
          left: 2.9rem;
          top: 1.8rem;
          color: #000000;
          position: absolute;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.2225;
        }
        .free-heart-icon-431-thumb-1-xRa {
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 3.8rem;
          height: 3.6rem;
          position: absolute;
          left: 0;
        }
      }
      .hi-there-i-can-definitely-provide-some-insights-as-ive-experienced-the--ta8 {
        color: rgba(0, 0, 0, 0.5);
        font-family: Commissioner, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2225;
      }
    }
  }
  .auto-group-fmju-nQc {
    height: 9.6rem;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    margin: 0rem 44.3rem 0rem 4.4rem;
    width: calc(100% - 48.7rem);

    .unread-message-Jtk {
      margin-right: 6.6rem;
      width: 49.7rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .rectangle-6-TWk {
        box-sizing: border-box;
        background-color: #ffffff;
        height: 8.8rem;
        border: solid 0.5rem #ff9d9d;
        left: 1rem;
        top: 0.8rem;
        border-radius: 2.5rem;
        width: 48.7rem;
        position: absolute;
      }
      .component-1-xyJ {
        height: 8.5rem;
        position: absolute;
        left: 0;
        top: 0;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        width: 48rem;

        .auto-group-xs52-75W {
          margin-bottom: 0.4rem;
          width: 100%;
          height: 6.3rem;
          position: relative;
          flex-shrink: 0;

          .pm-r36 {
            font-size: 1.8rem;
            line-height: 0.955;
            font-family: Hubballi, 'Source Sans Pro';
            position: absolute;
            left: 42.6rem;
            top: 1.8rem;
            font-weight: 400;
            color: #000000;
            white-space: nowrap;
            width: 5.1rem;
            height: 1.8rem;
            text-align: center;
          }
          .re-advice-needed-discrimination-in-potions-position-A3n {
            color: #000000;
            font-family: Commissioner, 'Source Sans Pro';
            width: 45.1rem;
            left: 2.9rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.2225;
            height: 2.3rem;
            position: absolute;
            top: 4rem;
            white-space: nowrap;
          }
          .from-generous-giraffe-3tG {
            font-weight: 400;
            line-height: 1.2225;
            font-family: Commissioner, 'Source Sans Pro';
            width: 16.6rem;
            height: 2.3rem;
            left: 2.9rem;
            top: 1.8rem;
            position: absolute;
            font-size: 1.8rem;
            color: #000000;
            white-space: nowrap;
          }
          .free-heart-icon-431-thumb-1-Yq2 {
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 3.8rem;
            height: 3.6rem;
          }
        }
        .hi-there-i-can-definitely-provide-some-insights-as-ive-experienced-the--Uya {
          line-height: 1.2225;
          color: rgba(0, 0, 0, 0.5);
          font-family: Commissioner, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.1rem;
          font-size: 1.4rem;
          font-weight: 400;
        }
      }
    }
    .quick-actions--NZA {
      flex-shrink: 0;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Jua, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-hy84-7Fr {
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 45.9rem 12.8rem 4.4rem;
    width: calc(100% - 50.3rem);
    display: flex;

    .unread-message-27v {
      height: 9.6rem;
      position: relative;
      flex-shrink: 0;
      margin: 0.8rem 6.6rem 0rem 0rem;
      width: 49.7rem;

      .rectangle-6-Yrx {
        height: 8.8rem;
        position: absolute;
        border: solid 0.5rem #ff9d9d;
        box-sizing: border-box;
        background-color: #ffffff;
        width: 48.7rem;
        left: 1rem;
        top: 0.8rem;
        border-radius: 2.5rem;
      }
      .component-1-euz {
        top: 0;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        width: 48.4rem;
        height: 8.5rem;
        position: absolute;
        left: 0;

        .auto-group-7rhe-zix {
          margin: 0rem 0.7rem 0.4rem 0rem;
          width: 47.7rem;
          height: 6.3rem;
          position: relative;
          flex-shrink: 0;

          .pm-JzY {
            font-size: 1.8rem;
            color: #000000;
            white-space: nowrap;
            height: 1.8rem;
            position: absolute;
            left: 42.6rem;
            text-align: center;
            font-family: Hubballi, 'Source Sans Pro';
            width: 5.1rem;
            top: 1.8rem;
            font-weight: 400;
            line-height: 0.955;
          }
          .re-advice-needed-discrimination-in-potions-position-29r {
            left: 2.9rem;
            font-weight: 400;
            line-height: 1.2225;
            font-family: Commissioner, 'Source Sans Pro';
            width: 44.5rem;
            position: absolute;
            top: 4rem;
            font-size: 1.8rem;
            color: #000000;
            white-space: nowrap;
            height: 2.3rem;
          }
          .from-generous-giraffe-iHa {
            line-height: 1.2225;
            color: #000000;
            font-family: Commissioner, 'Source Sans Pro';
            font-size: 1.8rem;
            height: 2.3rem;
            position: absolute;
            left: 2.9rem;
            top: 1.8rem;
            font-weight: 400;
            white-space: nowrap;
            width: 23.5rem;
          }
          .free-heart-icon-431-thumb-1-dQY {
            width: 3.8rem;
            height: 3.6rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .hi-there-i-can-definitely-provide-some-insights-as-ive-experienced-the--kzx {
          color: rgba(0, 0, 0, 0.5);
          font-family: Commissioner, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2225;
        }
      }
    }
    .send-flowers-4Ex {
      font-family: Jua, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
    }
  }
  .review-code-of-conduct-CMA {
    text-decoration-line: underline;
    white-space: nowrap;
    flex-shrink: 0;
    margin-left: 54.4rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.445;
    color: #000000;
    font-family: Jost, 'Source Sans Pro';
  }
}
